@media screen and (min-width: 480px) {
  /*--------------MAIN-TEAM--------------*/

  .container {
    max-width: 426px;
  }

  .main-team-container {
    max-width: 294px;
  }

  .main-cust-container {
    max-width: 426px;
    padding: 0px;
  }

  /*--------------MAIN-TEAM-END--------------*/

  .main-cust-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
  }
}
